services:

  web:
    image: odoo:17.0
    depends_on:
      - db
    ports:
      - 8069:8069
    volumes:
      - odoo-web-data:/var/lib/odoo
      - ./config:/etc/odoo
      - ./addons:/mnt/extra-addons
      - ./odoo-entrypoint.sh:/usr/local/bin/odoo-entrypoint.sh
    entrypoint: ["/usr/local/bin/odoo-entrypoint.sh"]
    environment:
      - LANG=C.UTF-8
      - LANGUAGE=C.UTF-8
      - LC_ALL=C.UTF-8
      - PASSWORD_FILE=/run/secrets/postgresql_password
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=odoo
      - DB_NAME=miempresadb
    secrets:
      - postgresql_password

  db:
    image: postgres:15
    environment:
      - POSTGRES_HOST=db
      - POSTGRES_DB=miempresadb
      - POSTGRES_PASSWORD_FILE=/run/secrets/postgresql_password
      - POSTGRES_USER=odoo
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - odoo-db-data:/var/lib/postgresql/data/pgdata
    secrets:
      - postgresql_password

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin4
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: odoo@gmail.com
      PGADMIN_DEFAULT_USER: odoo
      PGADMIN_DEFAULT_PASSWORD: odoo
      PGADMIN_LISTEN_PORT: 80
    ports:
       - 8080:80
    links:
       - "db:pgsql-server"

volumes:
  odoo-web-data:
  odoo-db-data:

secrets:
  postgresql_password:
    file: postgresql_password
